<!doctype html>
<html lang="en">
<%- include("layouts/header") -%>
<body>
<!-- header and navbar -->
<header>
    <%- include("layouts/navbar") -%>
</header>

<main>
    <!-- elements here -->
    <div class="container my-5 py-5">
        <div class="row justify-content-center mb-7">
            <div class="col-12 text-center">
                <h1 class="display-4">Our <span class="fw-bold">Board</span></h1>
                <% if(loggedIn) { %>
                    <a href="/newBoardMember">Add Board Member</a>
                <% } %>
            </div>
        </div>
        <section class="row justify-content-center mb-5">
            <% for(i=0; i < boardMember.length; i++) { %>
                <div class="col-lg-4 mb-3">
                    <div class="card shadow-5-strong rounded-5 d-flex flex-column"
                         style="height: 100%;">
                        <div class="card-img-top">
                            <img src="<%= boardMember[i].image %>" class="w-100" alt="<%= boardMember[i].name %>" style="border-top-left-radius: 7px; border-top-right-radius: 7px;">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title h5"><%= boardMember[i].name %></h4>
                            <p class="card-text">
                                <span class="fw-light"><%= boardMember[i].role %></span> <br>
                                <strong>
                                    <%= boardMember[i].description %>
                                </strong>
                                <% if(loggedIn) { %>
                                    <br>
                                    <a href="/deleteBoardMember/<%= boardMember[i]._id %>">
                                        delete <i class="fas fa-trash text-warning"></i>
                                    </a>
                                <% } %>
                            </p>
                        </div>
                    </div>
                </div>
            <% } %>
        </section>
    </div>
    <!--Section: Design Block-->
</main>
<!-- Footer -->
<%- include("layouts/footer") -%>
</body>
</html>