<!doctype html>
<html lang="en">
<%- include("layouts/header") -%>
<body>
<!-- header and navbar -->
<header>
    <%- include("layouts/navbar") -%>
</header>

<main>
    <!-- elements here -->
    <div class="container my-5 py-5">
        <div class="row justify-content-center mb-7">
            <div class="col-lg-10 text-center">
                <h1 class="display-4">Meet Our <span class="fw-bold">Team</span></h1>
            </div>
        </div>
        <section class="row justify-content-center mb-6">
            <div class="col-lg-6 mb-3">
                <div class="card shadow-5-strong rounded-5 d-flex flex-column" style="height: 100%; width: 100%;">
                    <div class="card-img-top">
                        <img src="/assets/reinika_smiley.png" class="w-100" alt="owner">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title h5">Reinka J. Smiley</h4>
                        <p class="card-text">
                            <span class="fw-light">Founder & CEO</span> <br> <br>
                            Renika launched iur nonprofit as LinkedIn Networking Happy Hour events
                            featuring diverse speakers at local bars. As audiences grew to 200
                            young professionals, Fortune 500 companies offered their offices
                            to host the events. Encouraged, Renika kept growing our organization.
                        </p>
                        <p class="card-text">
                            Today, we have highlighted 200+ local businesses... honored 150+ young
                            professionals with awards and plaques... recruited community partners and
                            sponsorships, like RDI, Neilsen, P&G, Cincinnati USA Regional Chamber... and offer numerous programs
                            and networking events for 10,000+ young professionals.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="card shadow-5-strong rounded-5 d-flex flex-column" style="height: 100%;">
                    <div class="card-img-top">
                        <img src="/assets/jessica_wright.png" class="w-100" alt="owner">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title h5">Jessica Wright</h4>
                        <p class="card-text">
                            <span class="fw-light">Vice President of Strategic Partnerships and HR Startegies</span> <br>
                            <br>
                            Owner/Founder/CEO of Wright Workforce Solutions where we provide affordable HR Services
                            to small businesses, start-ups, and entrepreneurs. Taking care of everything from streamlining the hiring process, to creating a culture of accountability within their workforce, to managing corrective action/terminations with dignity.
                        </p>
                        <p class="card-text">
                            My business provides HR with humanity, keeps my clients compliant while working within their budget to ensure they can remain focused on their passion.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="row mb-6">
            <div class="col-12 mb-3 text-start">
                <h3 class="display-5">Other <span class="fw-bold text-brown">Teammates</span></h3>
                <%  if(loggedIn) { %>
                    <p>
                        <a href="/newTeam" class="fw-bold text-decoration-underline">Add</a> another team member
                    </p>
                <% }%>
            </div>
            <% for(i=0; i < team.length; i++) { %>
                <div class="col-lg-4 mb-3" id="team">
                    <div class="card shadow-5-strong rounded-5 d-flex flex-column"
                         style="height: 100%;">
                        <div class="card-img-top">
                            <img src="<%= team[i].image %>" class="w-100" alt="<%= team[i].name %>" style="border-top-left-radius: 7px; border-top-right-radius: 7px;">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title h5"><%= team[i].name %></h4>
                            <p class="card-text">
                                <span class="fw-light"><%= team[i].role %></span> <br>
                                <strong>
                                    <%= team[i].description %>
                                </strong>
                                <% if(loggedIn) { %>
                                <br>
                                    <a href="/deleteTeam/<%= team[i]._id %>">
                                        <i class="fas text-warning fa-trash"></i>
                                    </a>
                                <% } %>
                            </p>
                        </div>
                    </div>
                </div>
            <% } %>
        </section>
        <section class="row mb-3">
            <div class="col-12 mb-3 text-start">
                <h3 class="display-5" id="volunteers">Our <span class="fw-bold text-brown">Volunteers</span></h3>
                <%  if(loggedIn) { %>
                    <p>
                        <a href="/newVolunteer" class="fw-bold text-decoration-underline">Add</a> another volunteer
                    </p>
                <% }%>
            </div>
            <% for(i=0; i < volunteers.length; i++) { %>
                <div class="col-lg-4 mb-3">
                    <div class="card shadow-5-strong rounded-5 d-flex flex-column"
                         style="height: 100%;">
                        <div class="card-img-top">
                            <img src="<%= volunteers[i].image %>" class="w-100" alt="<%= volunteers[i].name %>" style="border-top-left-radius: 7px; border-top-right-radius: 7px;">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title h5"><%= volunteers[i].name %></h4>
                            <p class="card-text">
                                <span class="fw-light"><%= volunteers[i].role %></span> <br>
                                <strong>
                                    <%= volunteers[i].description %>
                                </strong>
                                <% if(loggedIn) { %>
                                    <br>
                                    <a href="/deleteVolunteer/<%= volunteers[i]._id %>">
                                        <i class="fas fa-trash text-warning"></i>
                                    </a>
                                <% } %>
                            </p>
                        </div>
                    </div>
                </div>
            <% } %>
        </section>
    </div>
    <!--Section: Design Block-->
</main>
<!-- Footer -->
<%- include("layouts/footer") -%>
</body>
</html>